.allLeftBar{
    background-color: white;
    max-width: 15%;
    min-width: 15%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    border-right: 2px solid var(--orange);
}

.LeftBar-ProfilePic{
    display: flex;
    justify-content: center;
    align-items: center;

}

.LeftBar-ProfilePic img{
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: 20px;
}

.LeftBar-NameImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.4
}

.LeftBar-username{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}

.LeftBar-textMenu{
    display: flex;
    margin: 8px;
    
}

.LeftBar-menu{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 100px;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    flex: 0.4
}

.LeftBar-menuImage{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: left;
}

.LeftBar-Link{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    justify-content: flex-start;
    color: black;
    transition: 0.3s;
}

.LeftBar-Link:hover{
    color: var(--orange);
    font-size: 20px;
    transition: 0.3s;
}

.LeftBar-logout{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-top: 100px;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    flex: 0.2
}

.LeftBar-Note{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LeftBar-Note p{
    display: flex;
    justify-content: center;
    color :var(--orange);
    font-size: medium;
}

.LeftBar-Note:last-child{
    display: flex;
    justify-content: right;
}


.LeftBar-NoteStar{
    display: flex;
    justify-content: right;
    color :var(--orange);
    margin-left: 5px;
    font-size: medium;
}
