.Inscription-image{
    display: flex;
    flex: 0%;
    justify-content: center;
    align-items: center;
    
}

.Inscription-formulaire{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.Inscription-img-login{
    height: 80%;
}

.Inscription-bas{
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.Inscription-entrediv{
    width: 1px;
    height: 100%;
    background-color: black;
}

.Inscription{
    display: flex;
    flex-direction: column;
}

