.Profil{
    display: flex;
    flex-direction: row;
}
.Profil-center{
    flex-direction: column;
    width: 85%;
    height: 100vh;
}

.Profil-info{
    overflow-y: auto;
    height: 90%;
}

.ProfilUtilisateur{
    display: flex;
}