.FormulaireInscription-form .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -35px;
}

.FormulaireInscription-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.5;
    margin: 50px;
    height: 400px;
}

.FormulaireInscription-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
}

.FormulaireInscription-input input[type=text], input[type=password], input[type=email] {
    width: 120%;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #D48002;
}

.FormulaireInscription-button{
    border: 0px;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    background-color: #D48002;
    color: white;
    font-weight: bold;
    margin: 15px;
    transition: 0.2s;
}

.FormulaireInscription-button:hover{
    background-color:#b96f20;
    cursor: pointer;
    transition: 0.2s;  
}

.FormulaireInscription-signin-div{
    display: flex;
    flex-direction: row;
}

.FormulaireInscription-signin{
    text-decoration: none;
    color: #D48002;
    margin-left: 10px;
}