.principale {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

input, textarea {
    border: 0;
    height: 30px;
    width: 300px;
    resize: none;
}

textarea{
    height: 80px;;
}