@import "../../assets/variable.css";

.CreerAnnonce-Input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.CreerAnnonce-Titre, .CreerAnnonce-Description, .CreerAnnonce-Prix, .CreerAnnonce-Categorie {
    border: 0;
    border-bottom: 1px solid var(--orange);
    height: 30px;
    width: 400px;
    margin: 20px;
    font-size: 20px;
}

.CreerAnnonce-Description{
    height: 80px;
}

.CreerAnnonce-Categorie{
    font-size: 16px;
    border: 0;
}

.CreerAnnonce-Radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    margin-top: 40px;
}

.CreeAnnonce-RadioBouton{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    
    color: var(--grisFoncé);
}

.CreerAnnonce-BoutonSubmit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 100px;
}



.CreerAnnonce-Image{
    border: 0;
    height: 30px;
    width: 300px;
    max-width: 300px;
    margin-top: 5px;
}

.CreerAnnonce-Submit{
    font-size: 20px;
    background: var(--orange);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 0.3s;
}

.CreerAnnonce-Submit:hover{
    background: var(--orangeFoncé);
    cursor: pointer;
}