.CreerAnnonce-Input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 10vh;
}

.CreerAnnonce-BoutonSubmit {
    position: absolute;
    right: 200px;
    bottom: 100px;
}

#CreerAnnonce-Titre, #CreerAnnonce-Description, #CreerAnnonce-Prix, #CreerAnnonce-Categorie {
    border: 0;
    height: 30px;
    width: 300px;
    max-width: 300px;
    resize: none;
    border-bottom: solid 2px grey;
    margin-top: 5px;
}


#CreerAnnonce-Description{
    height: 80px;
}

#CreerAnnonce-Image{
    border: 0;
    height: 30px;
    width: 300px;
    max-width: 300px;
    margin-top: 5px;
}

#CreerAnnonce-Submit{
    font-size: 20px;
    background: #d48002;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}


#CreerAnnonce-Submit:hover{
    background: #b96f20;
    font-size: 20.2px;
    transition: 500ms;
}