.Annonce-GrosseBoite {
    display: flex;
    flex-direction: row;
}

.Annonce-PetiteBoite {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.Annonce-lesAnnonces{
    height: 85%;
    overflow-y: scroll;
}