@import "../../assets/variable.css";

.InfoVendeur{
    display: flex;
    flex-direction: row;
}

.InfoVendeur-info{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    width: 80%;
}

.InfoVendeur-other{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.InfoVendeur-other p{
    width: 48%;
    margin: 10px 0;
    padding-bottom: 15px;
    border: none;
    border-bottom: 2px solid var(--orange);
    font-size: 18px;
}

.InfoVendeur-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.InfoVendeur-nomPrenom{
    margin: 0;
    font-size: 20px;
}

.InfoVendeur-image{
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
}

.InfoVendeur-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 18px;
}

.InfoVendeur-note{
    display: flex;
    align-items: center;
}

.InfoVendeur-icon{
    color: var(--orange);
    margin-left: 5px;
}

.InfoVendeur-note p{
    color :var(--orange);
    font-weight: bold;
    margin: 0;
}