@import "../../assets/variable.css";

.PwdForgot-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.PwdForgot-formulaire{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--grisFoncé);
}

.PwdForgot-img-login{
    max-width: 90%;
}

.PwdForgot-bas{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.PwdForgot{
    display: flex;
    flex-direction: column;
    height: 100vh;
}