.App{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #434443;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    
    .App{
        font-size: 0.6em;
    }

}

