.UnVendeur{
    display: flex;
    flex-direction: row;
}
.UnVendeur-center{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100vh;
}

.UnVendeur-info{
    overflow-y: auto;
    padding: 20px;
}