.Connexion-image{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Connexion-formulaire{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.Connexion-img-login{
    max-width: 1000px;
}

.Connexion-bas{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.Connexion-entrediv{
    width: 1px;
    background-color: black;
}

.Connexion{
    display: flex;
    flex-direction: column;
    height: 100vh;
}