:root{
    --orange: #d48002;
    --orangeFoncé: #b96f20;
    --gris: #D9D9D9;
    --grisFoncé: #9A9797;
    --grisMoyen: #c3bfbf;
    --rouge: #F87970;
    --rougeFoncé: #f8594e;
    --orangeTresFoncé: #9e6106;
    --vert: #7EF038;
    --vertFoncé: #6BD828;
}