/* Utilisateur */
.InfoAnnonce-InfoEtPhotoVendeur{
    display: flex;
    flex-direction: row;
    width: 75%;
    text-decoration: none;
    color: black;
}

.InfoAnnonce-PhotoVendeur{
    border-radius: 100%;
    height: 180px;
    width: 180px;
}

.InfoAnnonce-InfosVendeur{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    justify-content: center;
}

.InfoAnnonce-InfosVendeur p {
    margin-top: 0%;
    margin-bottom: 0%;
}

.InfoAnnonce-NomVendeur{
    font-weight: bold;
    font-size: 28px;
}

.InfoAnnonce-Note{
    color: #D48002;
    font-size: 20px;
}

.InfoAnnonce-NoteVendeur{
    display: flex;
    align-items: center;
}

.InfoAnnonce-Star{
    color :#d48002;
    margin-left: 5px;
    font-size: medium;
}

.InfoAnnonce-DescriptionVendeur{
    color: grey;
    font-size: 20px;
}

.InfoAnnonce-LocalisationVendeur{
    color: gray;
    font-size: 20px;
}


/* Annonce */
.InfoAnnonce-Annonce p{
    margin: 20px 0 0 0;
    font-size: 20px;
}

.InfoAnnonce-DescriptionAnnonce{
    width: 70%;
    word-wrap: break-word;
}

.InfoAnnonce-PhotosAnnonce{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    overflow-x: auto;
}

.InfoAnnonce-PhotosAnnonce img{
    height: 250px;
    width: 300px;
    margin: 0 15px;
}


/* InfoAnnonce */
.InfoAnnonce{
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.InfoAnnonce-Haut{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.InfoAnnonce-PrixAnnonce{
    font-size: 25px;
    font-weight: bold;
}

.InfoAnnonce-Achat{
    font-size: 20px;
    background: #d48002;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 0.3s;
    font-weight: bold;
}

.InfoAnnonce-Achat:hover{
    background-color:chocolate;
}

.InfoAnnonce-BoutonMessage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.InfoAnnonce-AjoutFav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width: max-content;
    font-size: 20px;
    background: #d48002;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 0.3s;
    font-weight: bold;
}

.InfoAnnonce-AjoutFav:hover{
    background-color:chocolate;
}

.InfoAnnonce-AjoutFav p{
    margin: 0;
}

.InfoAnnonce-Icon {
    margin-right: 10px;
}